<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Seriously, where is it</title>
    <meta name="description" content="Where is board game night?">
    <meta name="keywords" content="reddit/r/denver, r/denver, denver, board games, board game night, game night" />

    <link rel="stylesheet" type="text/css" href="<%= url("stylesheets/main.css")%>">
    <link rel="icon" type="image/ico" href="<%= url("images/favicon.ico")%>">

    <link href='http://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
  </head>

  <body class="center">

    <div class="content main">
      <h2 class="title">Where is r/Denver board game night?</h2>

      <div class="line"></div>

      <% if locals[:date].today? %>
        <h1><%= "Oh snap!" %></h1>
        <h1><%= "Board game night is tonight at" %></h1>
        <h1><%= "#{locals[:location]}!" %></h1>
        <h1><%= "Let's play some board games!" %></h1>
      <% else %>
        <h1><%= "The next board game night is" %></h1>
        <h1><%= locals[:date].strftime("%A, %B %d %Y") %></h1>
        <h1><%= "at" %></h1>
        <h1><%= locals[:location] %></h1>
      <% end %>

      <div class="line"></div>

      <h2>
        <a href="/directions">
          Click here for directions to <%= locals[:location] %>
        </a>
      </h2>
    </div>
  </body>

  <div class="content footer">
    <h3>
      This site is an
      <a href="http://github.com/trayo/where_is_denver_board_game_night">open source project</a>
      created and maintained by
      <a href="http://twitter.com/trayoda">Travis Yoder</a>.
    </h3>
  </div>
</html>

